---
apiVersion: v1
kind: Namespace
metadata:
  name: loadgen
---
apiVersion: batch/v1
kind: Job
metadata:
  name: product-page-load
  namespace: loadgen
spec:
  template:
    metadata:
      labels:
        app: prtc-loadgen
        version: v1
    spec:
      containers:
      - name: prtc-loadgen
        image: LOADGEN_IMAGE_REPO
        command:
          - wrk
        args: ["-tTHREADS", "-cCONNECTIONS", "-dDURATION", "BOOKINFO_URL"]
        tty: true
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
      restartPolicy: OnFailure
